{% extends 'base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}
<br>
<br>
<h1> Liste des utilisateurs </h1>
<br>
<br>



<table id="utilisateurs" class="display responsive compact nowrap" style="width:95%">
    <thead>
        <tr>
            <th>Prenom</th>
            <th>Nom</th>
            <th>Email</th>
            <th>Modifer</th>
            <th>Supprimer</th>
        </tr>
    </thead>
    <tbody>
        {% for utilisateur in utilisateurs %}
        {#% set ref = "piece/" ~ piece[0].id %#}
         <tr> 
                <td> {{ utilisateur.prenom }}</td>
                <td> {{ utilisateur.nom }}</td>
                <td> {{ utilisateur.email }}</td>
                <td> {{ utilisateur.etat }}</td>
                <td> <a class="btn btn-primary" href="modifierutilisateur/{{utilisateur.id}}" role="button">Modifer</a> </td>
                <td> <a class="btn btn-danger" href="#" role="button">Supprimer</a> </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}